{% extends 'base.html' %}
<body>
    {% block menu %}
    <li><a href="{% url 'add_guest' %}">Add New Guest</a></li>    
    {% endblock %}
    {% block content %}
    <div class="container">
    <h1>Guest Book</h1>
        {% if not guests %}
            <h2>There is no guests that you are looking for</h2>
        {% endif %}

        {% for guest in guests %}
        <div class="card mb-2" style="width: 18rem;">
            <div class="card-body mb-2">
            <h5 class="card-title">{{ guest.user_name }}</h5>
            <h6 class="card-subtitle mb-2">{{ guest.user_email }}</h6>
            <p class="card-text">{{ guest.user_text }}</p>
            <a href="#"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/trash.png"/></a>
            <a href="#"><img src="https://img.icons8.com/fluent-systems-filled/25/000000/edit.png"/></a>
            </div>    
        </div>
        {% endfor %}
    </div>    
    {% endblock %}
</body>
</html>